/****************************
**      AntonVoronezh
****************************/

.offer,
.about,
.clients {
    padding-top: 30px;
    padding-bottom: 30px;
}

.offer::after,
.about::after,
.clients::after {
    content: "";
    margin-top: 30px;
    display: inline-block;
    width: 1160px;
    height: 2px;
    background-image: url('../../../img/decor/divide_copy_2.png');
    background-position: center center;
    background-repeat: no-repeat;
}