/****************************
**      AntonVoronezh
****************************/

.header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #eeeeee;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    margin-right: auto;
}

.basket {
    margin-left: auto;
}
